{% extends "base.html" %}
{% block content %}
<h1>Esitä uusi kysymys</h1>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<!-- Kaikki lomakkeen elementit form-tagin sisään -->
<form method="post" action="{{base_path}}/question">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div>
        <br><br>
        <label>otsikko</label>
        <input type="text" name="title" class="form-control" placeholder="Anna viestillesi kuvaava otsikko">
        <br>
    </div>

    <div class="form-group">
        <label>aihealue</label>
        <select class="form-control" name="category">
            {% for category in categories %}
            <option value="{{category.id}}">{{category.category_name}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label>kysymys</label>
        <input type="text" name="questiontext" class="form-control" placeholder="Tähän kirjoitetaan kysymys.">
        <br>
        <br>
    </div>
    
    Anna vielä nimesi:
    <input type="text" name="nametext"><br>
    <br><br>

    <div class="row">
        <button type="submit" class="btn btn-primary">lähetä</button>
        

</form>
{% endblock %}



