{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}


<h2>{{question.title}}</h2>


<p>Kysymyksen lähetti: {{question.nametext}}</p>

<br>

<p>{{question.questiontext}}</p>

<br>
<a href="{{base_path}}/edit/{{question.id}}" class="btn btn-default">muokkaa</a>

<a href="{{base_path}}/answer/{{question.id}}" class="btn btn-default">vastaa</a>


<form method="post" action="{{base_path}}/question/{{question.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">{{text|default('Poista')}}</button>
  </form> 
{% endblock %}