{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Opintotoimiston UKK</h1>
</div>

<p>
    <a href="{{base_path}}/search" class="btn btn-primary btn-lg">Etsi aihealueen mukaan<span class="glyphicon glyphicon-chevron-right"></span></a>
    <a href="{{base_path}}/new" class="btn btn-primary btn-lg pull-right">Esitä uusi kysymys<span class="glyphicon glyphicon-chevron-right"></span></a>
</p>
{% if message %} 
<div class="alert alert-success">
    {{message}}
</div>
{% endif %} 
<p class="lead"> 
    Viimeisimmät kysymykset:
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>Otsikko</th>
        <th>Aihealue</th>
        <th>Päivämäärä</th>
        <th>Status</th>
        </tr>
        
    </thead>

    <tbody>
        {% for question in questions%}
        <tr>
        <td><a href="{{base_path}}/question/{{question.id}}">{{question.title}}</td>
        <td>{{question.category_id}}</td>
        <td>{{question.added}}</td>
        <td>{% if question.status %}
                <label class="label label-success">vastattu
              {% else %}
                <label class="label label-danger">vastaamatta
              {% endif %}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
{% endblock %}
